@import url('https://fonts.cdnfonts.com/css/merriweather');

.banner{
    background: linear-gradient( rgb(0, 0, 0,0.55), rgb(0, 0, 0,0.55));
    background-image: url('../images/verre.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.order-form{
    background: linear-gradient( rgb(0, 0, 0,0.55), rgb(0, 0, 0,0.55));
    background-image: url('../images/printemps.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.cc-menu{
    background: linear-gradient( rgb(0, 0, 0,0.55), rgb(0, 0, 0,0.55));
    background-image: url('../images/verres.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
}

.banner .banner-desc{
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.redressed{
    font-family: 'Redressed', cursive;
}

.merriweather{
    font-family: 'Merriweather', serif;
}

.cc-navbar{
    background-color: rgb(0, 0, 0,0.55);
    font-family: 'Merriweather', serif;
    box-shadow: 1px 1px 2px, rgb(0, 0, 0,0.54) ;
    
}

.cc-navbar .nav-link{
    color: white;
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.1s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover{
    padding-bottom: 15px;
    border-bottom-color: var(--bs-teal);
}

.btn-order{
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active{
    color: white;
    background-color: var(--bs-teal);
}

.samanouton:hover,
.samanouton:active{
    color: white;
    background-color: limegreen;
    background: transparent;
}
